ul {
    list-style-type: none;
}

#desno li {
    float: right;
    padding: 10px;
}

#levo li {
    float: left;
    padding: 10px;
}

#footer {
    position:absolute;
    bottom:30px;
    width:100%;
    background-color: #D4A495;
    
}

a {
    display: inline;
    font-family: sans-serif;
    color: black;
}

body {
    background-color: #FFFFFF;
    font-family: sans-serif;
    
}

#zgLinki li {
    float: left;
    padding: 10px;
    
    
}

#header {
    position:absolute;
    top:5%;
    width:100%;
    background-color: #FFC1AD;
}

#logo {
    margin-left: auto;
    margin-right: auto; 
    padding: 2em;
    width: 36%;
}

#Iskalnik {
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    width: 25%;
    text-align: center;
}





